*{
    margin: 0%;
}

.bg-pink{
    background-color: #d35649;
}

.link{
    color: white;
    text-decoration: none;
}

.section1{
    background-image:url("./Assets/Images/group-1.jpg");
    background-size:100%;
    background-position:center;
    background-repeat: no-repeat;
    height:300px;
}

.section1 h2{
    text-transform: uppercase;
}

.section2 div p{
    font-size:small;
}