*{
    margin: 0%;
}

body{
    overflow-x: hidden;
}

.bg-gray-footer-btn{
    background-color: #444;
}

.text-gray-footer{
    color: #1f1f1f;
}

.bg-light-gray{
    background-color: #eee;
}

.bg-gray-footer{
    background-color: #1f1f1f;
}

.bg-pink{
    background-color: #d35649;
}

.bg-primary-gray{
    background-color: #98a5a5;
}

.bg-primary-blue{
    background-color: #509bd7;
}

.link{
    color: white;
    text-decoration: none;
}

.section-content p{
    font-size: 14px;
}

form #btn-search{
    color: #fff;
    margin-left: -20px;
}

.section1{
    background-image:url("./Assets/Images/group-1.jpg");
    background-size:100%;
    background-position:center;
    background-repeat: no-repeat;
    height:300px;
}

.section1 h2{
    text-transform: uppercase;
}

.section2 div p{
    font-size:small;
}

#insert-email{
    width: 88%; 
    border-right: none; 
    border: 1px solid #98a5a5;
    background-color: rgb(15, 15, 15);
    color: white;
}

.footer-link{
    font-size: 14px;
}

.footer-link-item{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.footer-icon{
    border: white solid 3px;
    border-radius: 50%;
}